@model IEnumerable<InventoryManagementSoftware.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Summary", "SummaryItem")
    @Html.ActionLink("Log", "LogItemIndex")
</p>

@using (Html.BeginForm("Index", "Item", FormMethod.Post))
{

    <table class="table" id="displayTable">
        <tr>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedTime)
            </th>
            <th>
                @Html.Label("In")
            </th>
            <th>
                @Html.Label("Out")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.ItemID)
                </td>
                <td>
                    <span class="itemBrand">
                        @Html.DisplayFor(modelItem => item.ItemBrand)
                    </span>

                </td>
                <td>
                    <span class="itemModel">
                        @Html.DisplayFor(modelItem => item.ItemModel)
                    </span>
                </td>
                <td>
                    <span class="itemName">@Html.DisplayFor(modelItem => item.ItemName)</span>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdatedTime)
                </td>
                <td>
                    @Html.TextBox("inQuantity", null, new { @class = "form-control inQuantity", @type = "number", @min = "0", @max = 100, @Value = "0" })
                </td>
                <td>
                    @Html.TextBox("outQuantity", null, new { @class = "form-control outQuantity", @type = "number", @min = "0", @max = item.Quantity, @Value = "0" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemID })
                </td>
            </tr>
        }
    </table>
    @Html.TextBox("updatedBy", null, new { @class = "form-control" })
    <input type="submit" value="Save" onclick="Confirm()" class="btn btn-default" />
    <input id = "confirm_value" hidden="hidden" name="confirm_value" value="No"/>
}

<script type="text/javascript">
    function Confirm() {
        var i = 0;
        var displayString = ""; 
        $('#displayTable tr').each(function () {
            if (i == 0) {
                displayString = "Item Name   Item Brand   Item Model   In Quantity   Out Quantity\n"
            }
            if (i > 0) {
                var inQuantity = ($(this).find(".inQuantity").val());
                var outQuantity = ($(this).find(".outQuantity").val());
                var itemName = ($(this).find(".itemName").text());
                var itemModel = ($(this).find(".itemModel").text());
                var itemBrand = ($(this).find(".itemBrand").text());
                if (inQuantity > 0 || outQuantity > 0) {
                    displayString = displayString + itemName.trim() + "   " + itemBrand.trim() + "   " + itemModel.trim() + "   " + inQuantity + "   " + outQuantity;
                    displayString = displayString + "\n"
        
                }
               
            }
            i = i + 1;
        });
        var confirmation = confirm(displayString);
        if (confirmation) {
            document.getElementById("confirm_value").value = "Yes";
           
        } else {
            document.getElementById("confirm_value").value = "No";
        }
        

    }
</script>